@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  color: white;
  min-height: 100vh;
}
.app {
  min-height: 100vh;
  color: white;
  background: linear-gradient(#0b004e, #1d152f, #002834);
}
